article.role-page__sidebar
  ul.sidebar__list
    li.sidebar__item
      a(href="role-expert-actual.html").sidebar__link Актуальные задания
    li.sidebar__item  
      a(href="role-expert-materials.html").sidebar__link Материалы для выполнения заданий
    li.sidebar__item
      a(href="role-expert-info.html").sidebar__link Источники информации
