main.start-section
  .start-section__wrap
    .logo
      a(href="index.html").logo__link
        h1.logo__text Web <span class="logo-allotment">QUEST</span>
    .start-section__desc
      p Испытай себя
      p Пройди квест за 45 минут
    .start-section__bottom
      a(href="#").start-section__bottom-btn.btn-common Перейти к ситуации
