main.help-section#help-section
  .container
    h2.help-section__title Справка
    ul.accordion__list
      li.accordion__item
        button.accordion__trigger Что такое Web QUEST
        .accordion__content
          p Web QUEST - это ресурс для удобного и легкого обучения сложным и непонятным вещам
      li.accordion__item
        button.accordion__trigger Порядок прохождения квеста
        .accordion__content
          ol.accordion__content-list
            li.accordion__content-item Прочитать ситуацию, в которой вы оказались, и постараться понять, что вообще происходит
            li.accordion__content-item Выбрать роль, которая больше вам подходит
            li.accordion__content-item Прочитать задания подготовленные для вас
            li.accordion__content-item Выполнить задания как можно быстрее 
            li.accordion__content-item ВСЁ! Поздравляю вы готовы к прохождению квеста
      li.accordion__item
        button.accordion__trigger Для чего это нужно
        .accordion__content
          p Я пока не знаю что тут написать, но со времене все встанет на свои места
      li.accordion__item
        button.accordion__trigger Кто работал над созданием 
        .accordion__content
          p Разработка дизайна и верстка - Раданцев Андрей студент группы ПИ-ЗО <br>Идея, материалы и духовное наставление - Раданцева Ольга Владимировна
