main.situation-section#situation-section
  .container
    h2.situation-section__title Ситуация
    .situation-section__desc
      p.situation-section__desc-text Руководитель на планерке сообщил, что завтра в Вашей фирме проводится проверка приобретенных МОНИТОРОВ и ПРИНТЕРОВ. Технические средства закуплены в компьютерном супермаркете NIX
      .situation-section__desc-img
        img(src="assets/img/orders.svg").situation-section__desc-img-pic
      .situation-section__desc-img
        img(src="assets/img/time.svg").situation-section__desc-img-pic
      p.situation-section__desc-text За 45 минут с помощью Интернет - источников необходимо выполнить задания своей роли и сохранить результат для защиты 
    .situation-section__bottom
      a(href="#select-role").situation-section__bottom-btn.btn-common#slide-section
        +icon('user')
        span.situation-section__bottom-btn-text Перейти к выбору роли
