aside.common-menu__sidebar
  .common-menu__sidebar-btn
    button.common-menu__sidebar-burger
      span.sidebar-burger__item
      span.sidebar-burger__item
      span.sidebar-burger__item
  ul.common-menu__list
    li.common-menu__item
      a(href="#start-section").common-menu__link
        +icon('rocket')
        span.common-menu__link-text Старт
    li.common-menu__item
      a(href="#situation-section").common-menu__link
        +icon('professor')
        span.common-menu__link-text Ситуация
    li.common-menu__item
      a(href="#").common-menu__link 
        +icon('stick-man')
        span.common-menu__link-text Выбор роли
    li.common-menu__item
      a(href="#").common-menu__link 
        +icon('paperclip')
        span.common-menu__link-text Справка
