// adjustment vars
$footer-height: 150px;
$container-width: 1020px;

// adjustment styles
body, html {
	width: 100%;
	height: 100%;
	position: relative;
}

body {
	font-size: 16px;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
	position: relative;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	position: relative;
	min-width: $container-width;
}

.container {
	width: 1024px;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

li {
	list-style: none;
}

ul {
	padding: 0;
	margin: 0;
}

footer {
	min-height: $footer-height;
	width: 100%;
	min-width: 1020px;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-weight: normal;
	line-height: 1.42;
}

.btn-common {
	border-radius: 5px;
	padding: 12px 20px;
	text-decoration: none;
}
