@font-face {
    font-family: 'junegullregular';
    src: url('../fonts/junegull_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'modakregular';
    src: url('../fonts/modak-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nautilus_pompiliusregular';
    src: url('../fonts/nautilus-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin font($font-size: 16px, $style: regular) {
    @if $style == june {
        font: $font-size 'junegullregular', Arial, sans-serif;
    }

    @if $style == modak {
        font: $font-size 'modakregular', Arial, sans-serif;
    }

    @if $style == nautil {
        font: $font-size 'nautilus_pompiliusregular', Arial, sans-serif;
    }

    @if $style == open-bold {
        font: $font-size 'open_sansbold', Arial, sans-serif;
    }

    @if $style == open-light {
        font: $font-size 'open_sanslight', Arial, sans-serif;
    }

    @if $style == open-reg {
        font: $font-size 'open_sansregular', Arial, sans-serif;
    }

    @if $style == open-sbold {
        font: $font-size 'open_sanssemibold', Arial, sans-serif;
    }
}
