include ../mixins/icons

doctype html
head
  meta(charset="utf-8")
  title Web quest | Материалы для выполнения заданий для эксперта
  meta(name="description" content="" )
  meta(name="keywords" content="")
  include ../meta/head
body
  .wrapper
    include ../common/header-menu-btn
    include ../common/header-menu-sidebar
    include role-expert-materials/main
            
    
  script(src='assets/js/foundation.js' defer)
  script(src='assets/js/plugins/slick.min.js' defer)  
  script(src='assets/js/app.js' defer)
