//vars
//$blue: #4ba7be;
$blue: #5dbde9;
$dark-blue: #2b3562;
$black: #333;
$dark-black: #020202;
$red: #C60C32;


//misc
@import "misc/fonts";
@import "misc/mixins";
@import "misc/normalize";
@import "misc/adjustment";

//layout
