//vars
$white: #FCFCFC;
$blue-main: #10416D;
$blue: #11436E;
$azure: #3385CC;
$red: #980051;
$orange: #F1543F;


//misc
@import "misc/fonts";
@import "misc/mixins";
@import "misc/normalize";
@import "misc/adjustment";
@import "misc/slick";


//layout
//common
//header-menu
@import "pages/common/header-menu-btn";
@import "pages/common/header-menu-sidebar";

//index
@import "pages/index/start-section";
@import "pages/index/situation";
@import "pages/index/role";
@import "pages/index/help";
