section.role-page__content
  h2.content__title Актуальные задания
  ul.cards__list
    li.cards__item
      p Проверить этикетки приобретенных мониторов и принтеров на наличие единого знака обращения продукции на рынке государств - членов Таможенного союза
    li.cards__item
      p Расшифровать маркировочные знаки на данных этикетках
    li.cards__item
      p Подготовить презентацию из пяти слайдов (по одному слайду на каждое техническое средство) с расшифровкой маркировочных знаков технического средства, воспользовавшись готовым шаблоном презентации
